<div class='container py-5'>
  <h1><strong>Your pending rentals</strong></h1>
  <p>Please <strong>accept</strong> or <strong>reject</strong> your offers below. Payment will be sent in two to three business days as soon as the booking is confirmed.</p>
  <hr>
  <div class='container cards'>
    <% if @bookings.any? %>
      <% @bookings.each do |booking| %>
        <div class="card-trip mb-5">
          <%= image_tag booking.offer.video_game.image_url, alt: booking.offer.video_game.title %>
          <div>
            <div class="card-trip-infos">
              <div>
                <h2><strong><%= booking.offer.video_game.title.upcase %></strong></h2>
                <p><i class="fa-solid fa-calendar-days"></i> <strong>Rental duration: </strong></p>
                <p class="pb-3"><%= booking.start_date.strftime("%d/%m/%Y") %> ~ <%= booking.end_date.strftime("%d/%m/%Y") %></p>
                <h6><strong>Total: <%= booking.total_price %> yen (tax incl.)</strong></h6>
                <% if booking.pending? %>
                  <!-- Display Forms-->
                  <div class="d-flex">
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.submit 'Accept', class: 'btn btn-info' %>
                    <% end %>
                    <%= simple_form_for booking do |f| %>
                      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                      <%= f.submit 'Reject', class: 'btn btn-light' %>
                    <% end %>
                  </div>
                <% else %>
                  <!-- Display Status-->
                  <p class="text-center badge <%= booking.color %> text-white p-1 mt-2"><%= booking.status.capitalize %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="p-2 mb-0"><strong>Your games for rental</strong></h1>
    <%= link_to "Add new rental", new_offer_path, class: "btn btn-dark rounded" %>
  </div>
  <hr>
  <div class='container cards py-5'>
    <% if @offers.any? %>
      <% @offers.each do |offer| %>
        <div class="card-trip mb-5">
          <%= image_tag offer.video_game.image_url, alt: offer.video_game.title %>
          <div>
            <div class="card-trip-infos">
              <div>
                <h2><strong><%= offer.video_game.title.upcase %></strong></h2>
                <h6><%= offer.price %> yen per day</h6>
              </div>
            </div>
          </div>
        </div >
      <% end %>
    <% end %>
  </div>
</div>
