<div class="container mt-5">
  <h1><strong>Your current bookings</strong></h1>
  <hr>
</div>
<div class='container cards'>
  <% @bookings.each do |booking| %>
    <div class="card-trip mb-5">
      <%= image_tag booking.video_game.image_url, alt: booking.video_game.title %>
      <div>
        <div class="card-trip-infos">
          <div>
            <h2><strong><%= booking.video_game.title.upcase %></strong></h2>
            <p class='mb-2'><strong><%= booking.video_game.category %></strong></p>
            <p class='mb-2'><strong><%= booking.start_date %> ~ <%= booking.end_date %></strong></p>
            <h2 class="card-trip-pricing">¥<%= booking.price %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
