<div class="container mt-5">
  <h1><strong>Your current bookings</strong></h1>
  <hr>
  <div class='container cards'>
    <% if @bookings.any? %>
      <% @bookings.each do |booking| %>
        <div class="card-trip mb-5">
          <%= image_tag booking.offer.video_game.image_url, alt: booking.offer.video_game.title %>
          <div class="card-trip-infos">
            <div class="justify-content-center">
              <h2 class="d-inline-block text-truncate" style="max-width: 200px"><strong><%= booking.offer.video_game.title.upcase %></strong></h2>
              <p><i class="fa-solid fa-calendar-days"></i> <strong>Rental duration: </strong></p>
              <p class="pb-3"><%= booking.start_date.strftime("%d/%m/%Y") %> ~ <%= booking.end_date.strftime("%d/%m/%Y") %></p>
              <h6><strong>Total: <%= booking.total_price %> yen (tax incl.)</strong></h6>
              <div>
                <p class="text-center badge <%= booking.color %> text-white p-1 mt-2"><%= booking.status.capitalize %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
