<div class="row mt-4 text-center">
  <h3>Games Available Now!</h3>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://howchoo.com/media/yj/iz/zm/outer-worlds-2019.jpeg?width=1440&auto=webp&quality=70)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://howchoo.com/media/nj/yw/ym/horizon-zero-dawn-2017.jpeg?width=1440&auto=webp&quality=70)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://howchoo.com/media/yw/m5/nj/the-last-of-us-2013.jpeg?width=1440&auto=webp&quality=70)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://howchoo.com/media/nj/e5/zj/ori-and-the-will-of-the-wisps-2020.jpeg?width=1440&auto=webp&quality=70)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://howchoo.com/media/y2/mz/nd/soma-2015.jpeg?width=1440&auto=webp&quality=70)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://howchoo.com/media/y2/yy/md/alan-wake-2010.jpeg?width=1440&auto=webp&quality=70)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://img.spike-chunsoft.co.jp/cyberpunk2077/image/ogp.jpg)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container cards mt-3">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://compass-ssl.xbox.com/assets/9c/94/9c944d9c-7ef1-4b46-9f68-9b02966d3993.jpg?n=Halo-Infinite_GLP-Page-Hero-0_1083x609.jpg)">
      <%= link_to "", offers_path, class: 'card-link' %>
    </div>
  </div>
</div>
