<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://howchoo.com/media/od/q4/ng/30-of-the-best-video-game-storylines.png?width=1440&auto=webp&quality=70);">
</div>
<%= render 'offers/category_buttons' %>
<div class="container pt-3">
  <h4 class="d-flex justify-content-center"></h4>
  <div class='container cards'>
    <% @offers.each do |offer| %>
      <div class="card-trip mb-5">
        <%= image_tag offer.video_game.image_url, alt: offer.video_game.title %>
        <div>
          <div class="card-trip-infos">
            <div>
              <h2><strong><%= offer.video_game.title.upcase %></strong></h2>
              <p class='mb-2'><strong><%= offer.video_game.category %></strong></p>
              <h5 class="card-trip-pricing"><strong>¥<%= offer.price %></strong></h5>
              <%= link_to "", offer_path(offer), class: "card-link"  %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# <div class="col-12 col-md-8"> %>
<%#= render 'map', markers: @markers.to_json %>
<%# </div> %>
