<div class="container my-5">
  <h1>Add your game for rental</h1>
  <hr>
  <div class="col-6">
    <%= simple_form_for [@video_game, @offer] do |f| %>
      <%= f.association :video_game, placeholder: 'Choose a game title' %>
      <label class="form-label required" for="offer_price">Set a price for your game<abbr title="required">*</abbr></label>
      <div class="input-group mb-3">
        <span class="input-group-text h-100">￥</span>
          <%= f.input :price, label: false, as: :string, placeholder: 'E.g. ¥300' %>
        </div>
      <%= f.button :submit, "Confirm", class: "btn btn-dark rounded" %>
    <% end %>
  </div>
  <div class='container py-5 d-flex justify-content-center'>
    <%= link_to "Back to games", offers_path, class: "btn btn-flat" %>
  </div>
</div>
